.main-container {
  flex: 3;
  align-Items: "center";
  justify-Content: "center";
  color: #f4ebeb;
  padding: 20px;
  overflow-y: auto; 
}

.board_slider img {
  width: 100%;
  height: 500px;
  border-radius: 10px;

}

/* jobcount heading styling */


.jobcount-heading-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px; /* Adjust margin as needed */
}

.Jobcount-heading {
  color: black !important;
  text-align: center;
}

.jobcount-button{
  background-color: #7575b7; 
  color: white;
}
.jobcount-button:hover{
  background-color: blueviolet;
}



/* applied job cards styling */

.applied-jobs-container {
  margin-top: 20px;
}

.applied-job {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.applied-job h4 {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}

.job-details {
  color: #666;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 10px;
  max-height: 80px; /* Limit to two lines */
  overflow: hidden;
}

.learn-more-btn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.learn-more-btn:hover {
  background-color: #0056b3;
}

/* registered event card styling */

.events-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.event-card {
  width: calc(33.33% - 20px);
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.event-card:hover {
  transform: translateY(-5px);
}

.event-header {
  background-size: cover;
  height: 150px;
  display: flex;
  align-items: flex-end;
  padding: 20px;
}

.event-title {
  margin: 0;
  color: white;
}

.event-body {
  padding: 20px;
}

.event-description {
  margin-bottom: 20px;
  line-height: 1.4;
}

.learn-more-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.learn-more-btn:hover {
  background-color: #0056b3;
}

/* heading and image styling of images */
.registered-events-container-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px; /* Adjust margin as needed */
}

.registered-events-title {
  color: black;
}

.eventcount-button {
  background-color: #7575b7; 
  color: white;
}

.eventcount-button:hover {
  background-color: blueviolet;
}


